:root{
  --searchbox-height:0px;
  --hover-textdecoration:none;
}

.topPerspective{
  background-color: rgb(117, 198, 252);
  width:100%;
  height:20px;
  border: solid 0px red;
  clip-path: polygon(50% 0%, 93% 0, 82% 100%, 18% 100%, 8% 0);
}

@keyframes AddingAnimation{
  0%{
      transform: rotate(0) translateY(-20%);
      opacity: 0;
      }
  100%{
      transform: rotate(0) translateY(0);
      opacity: 1;
      }
}

.App {
	font-family: 'Poppins', sans-serif;
  opacity:0;
  animation: AddingAnimation 1s forwards 0s ease;
}

.App-intro {
  text-align:center;
  display:grid;
  grid-template-columns: 60%;
  grid-gap: 30px;
  justify-content: center;
  justify-items: center;
  border: solid 0px red;
}

@keyframes shine {
  to {
    background-position: 200% center;
  }
}

.App-title {
  border: solid 0px red;
  font-size: 5vmax;
	font-family: 'Poppins', sans-serif;
  background: linear-gradient(to left, lightgreen 20%, red 40%, red 60%, lightgreen 80%);
  background-size: 200% auto;  
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 20s linear infinite;
}

/* The container <div> - needed to position the dropdown content */
.search-dropdown {
  width:600px;
  position: relative;
}

input[id=new-location] {
  box-shadow: 2px 8px 16px 2px rgba(0,0,0,0.2);
  box-sizing:border-box;
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 5px 5px 5px 5px;
  font-size: 14px;
  background-color: #f1f1f1;
  width: 100%;
  border-radius: 5px;
  font-size:8pt;
}

/* Dropdown Content (Hidden by Default) */
.search-dropdown-content {
  width:100%;
  z-index:100;
  visibility: visible;
  max-height:var(--searchbox-height);
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  overflow:auto;
  flex:1;
  border: solid 0px red;
  transition: max-height 1s linear;
  border-radius: 5px;
}

/*START - Links inside the dropdown */
.search-dropdown-content ul {
  color: black;
  padding: 3px;
  text-decoration: none;
  display: block;
  cursor: pointer;
  list-style: none;
  text-align:left; 
  margin:0px; 
  padding:0px 0px 0px 0px;
}

.search-dropdown-content-li {
  border: 1px solid transparent;
  background-color: transparent;
  color:black;
  padding: 10px;
  font-size: 14px;
  border-bottom: solid 0.25px lightgray
}
/* Change color of dropdown links on hover */
.search-dropdown-content li:hover {background-color: #f1f1f1}

/* Change color of dropdown links on active */
.li-active {
  background-color: #f1f1f1;
}
/*END - Links inside the dropdown */

.item-content-ul {
  text-decoration: none;
  display: block;
  cursor: pointer;
  list-style: none;
  margin:0px; 
  padding:0px; 
  border: 0px solid green;
  /* display:grid;
  justify-content: center;
  align-content: center;
  grid-gap:3px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  min-width: 290px;
}

.item-content-li {
  min-width: 270px;
  margin:1px;
  padding:5px;
  border: 0px solid yellow;
  background-color: rgba(0,0,0,0.1);
  border-bottom: solid 0px white;
  animation: AddingAnimation 1s forwards 0s ease-in-out;
}

/* .item-content-li:last-child {
  grid-column: span 2;
} */

.inline-search-text {
  text-decoration: underline;
}

.list-item-container {
  width:100%;
  text-align: left;
  font-size: 8pt;
  align-items: center;
  border: solid 0px red;
  display:grid;
  vertical-align: top;
  grid-gap:5px;
  grid-template-columns: 65% auto 10px ;
}

.list-item {
  border: solid 0px blue;
}

.list-item:first-child {
  color:steelblue;
  font-weight:bold;
  font-size: 9pt;
}

.list-item:nth-child(2) {
  text-align: right;
  font-weight:lighter;
}

.list-item:last-child {
  text-align: center;
  font-weight: bold;
  font-size: 5pt;
  color:rgba(250, 4, 4, 0.829);
  clip-path: circle(60% at 50% 50%);
  background-color: rgba(0,0,0,0.2);
}

.list-item:hover {
  --hover-textdecoration:none;
}

@media only screen and (max-width:500px) {
  .App-intro {
    grid-template-columns: 90%;
  }

  .search-dropdown {
    width:290px;
  }  
}